<div>
  <h2>Write Review</h2>
  <p *ngFor="let error of errors" style="color:red">{{error.message}}</p>
  <form (submit)="makeReview()">
    <p>Your name:</p>
    <input type="text" name="name" [(ngModel)]="newReview.name"><br/>
    <p>Stars: <input type="number" name="rating" [(ngModel)]="newReview.rating"></p>
    <p>Review:</p>
    <textarea name="content" [(ngModel)]="newReview.content"></textarea>
    <button [routerLink]="['/restaurant', restId]">Cancel</button>
    <input type="submit" value="submit">
  </form>
</div>